@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    overscroll-behavior: none;
  }
  body {
    @apply bg-gray-950;
    overscroll-behavior: none;
    user-select: none;
    -webkit-user-select: none;
  }
  * {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
